@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #000;
    
}
.header{
    background-image: url(../img/Portada.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 45vh;
    margin: 0;
    padding-top: 30vh;
}
h1.heading {
    color: #ffffff;
    display: block;
    font-family: 'Allura';
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Cinzel', cursive;
    font-size: .6em;
}
.cuenta-regresiva{
    background-color: #000;
}
div.row{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* CONTADOR */
.col-xs-3{
    width: 100px;
    margin: 20px;
    color: #ffffff;
}

.col-xs-3 h3, .col-xs-3 h4{
    color: #CBA35C;
}

.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Cinzel', cursive;
    font-size: 3em;
    margin-top: 2em;
    color:white;

}
section.ceremonia{
    background-image: url("../img/fondoMarmolNegro.jpeg");
    padding: 20px 0px 100px;
}

/* __________________________ FOTOS __________________________ */
.conteiner-slider{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 550px;
    display: flex;
    flex-wrap: nowrap;
}

.slider__section{
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    transform: translateY(-550%);
    cursor: pointer;

}

i.bx{
    padding: 10px;
    font-size: 35px;
    background-color: #CBA35C;
    border-radius: 10%;
}

.slider__btn__left{
    left: 10px;
}

.slider__btn__right{
    right: 10px;
}




.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;

}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }