@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #1D1D1B;
    
}
.header{
    background-image: url(../img/Portada.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 49vh;
    margin: 0;
    padding-top: 30vh;
}
h1.heading {
    color: #ffffff;
    display: block;
    font-family: 'Allura';
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #1D1D1B;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Cinzel', cursive;
    font-size: .6em;
}
.cuenta-regresiva{
    background-color: #1D1D1B;
}
div.row{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* CONTADOR */
.col-xs-3{
    width: 100px;
    margin: 20px 60px;
    color: #ffffff;
}

.col-xs-3 h3, .col-xs-3 h4{
    color: #CBA35C;
    font-size: 20px;
    font-family: 'Cinzel';
}

.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Cinzel', cursive;
    font-size: 3em;
    color:white;
    margin-top: -5px;

}
.gif{
    margin-top: 50px;
    width: 80px;
}
p{
    color: #ffffff;
    font-family: "Cinzel";
}
p.titulo{
 font-size: 20px;
}

p.texto{    
    font-size: 15px;
    color: #ffffff96;
}


section.ceremonia{
    background-image: url("../img/fondoMarmolNegro.jpeg");
    padding: 20px 0px 80px;
    margin-bottom: 70px;
}
section.ceremonia button{
    background-color: #CBA35C;
    font-family: 'Cinzel';
    font-weight: 500;
    width: 250px;
    height: 60px;
    border: none;
    border-radius:15px;
    margin-bottom: 40px;
}


/* __________________________ FOTOS __________________________ */

.gif__camara{
    margin-top: 20px;
    width: 60px;

}

.conteiner-slider{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slider{
    width: 400%;
    height: 700px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0%;
}

.slider__section{
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider__btn{
    position: absolute;
    transform: translateY(-550%);
    cursor: pointer;
    padding: 0;
    background-color: #ffffff3e;
    border-radius:50%;
    border: 0px;

}

i.bx{
    padding: 10px;
    font-size: 35px;
    border-radius: 20%;
    color: #0000007c;
}

.slider__btn__left{
    left: 50px;
}

.slider__btn__right{
    right: 50px;
}

.btn_verMas{
    margin-top: 30px;
    background-color: #CBA35C;
    font-family: 'Cinzel';
    font-weight: 500;
    width: 250px;
    height: 60px;
    border: none;
    border-radius:15px;
    margin-bottom: 40px;
}


/* ______________________ Seccion de 3 cards ____________________________ */
section.card_section{
    background-color: #151515;
}

section.card_section h2.card-h2{
    color: #CBA35C;
    padding-bottom: 0px;
    margin-bottom: -7px;
}

section.card_section p.sub{
    margin-bottom: 100px;
    color: #ffffff96;
}

section.card_section div.card-conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

section.card_section div.card-conteiner div.card{
    background-color: #1D1D1B;
    height: 450px;
    width: 300px;
    border-radius: 30px;
    padding: 20px;
}

div.card p.card-titulo{
    font-size: 30px;
    font-weight: bold;
}

div.card p.card-p{
    font-size: 16px;
}

button.btn_card{
    margin-top: 30px;
    background-color: #CBA35C;
    font-family: 'Cinzel';
    font-weight: 500;
    width: 180px;
    height: 50px;
    border: none;
    border-radius:15px;
    margin-bottom: 40px;
}




@media only screen and (max-width: 600px) {
    .header{
        height: 60vh;
    }
    .heading {
        font-size: 0.25em;
        padding: 0;
    }

    .heading-subtext{
        color: #fff;
        display: block;
        font-family: 'Cinzel', cursive;
        font-size: .25em;
        margin-top: -15px;
    }

    .slider{
        height: 470px;
    }


    .slider__btn{
    transform: translateY(-450%);
    }

    .slider__btn__left{
    left: 15px;
    }

    .slider__btn__right{
    right: 15px;
    }

    .cuenta-regresiva{
        background-color: #1D1D1B;
    }
    div.row{    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div.time-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    /* ______________ CONTADOR _________________ */

    .col-xs-3{
        width: 60px;
        margin: 15px 40px;
        color: #ffffff;
    }
    
    .col-xs-3 h3, .col-xs-3 h4{
        color: #CBA35C;
        font-size: 18px;
        font-family: 'Cinzel';
    }

    /* ______________ FOTOS _________________ */
    .slider__btn__left{
        left: 70px;
    }
    
    .slider__btn__right{
        right: 70px;
    }


    /* ______________ CARDS _________________ */
    section.card_section div.card-conteiner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.card_section div.card-conteiner div.card{
        margin-bottom: 40px;
    }




}

@media only screen and (min-width: 600px) and (max-width: 800px){

}
